backupmain.css
backupMain.html
backupmain.js
/photos/about-black.svg
/photos/about.gif
/photos/about.svg
/photos/flat
/photos/food
/photos/Interests.gif
/photos/interests.jpg
/pages/about/about-past.css
/pages/about/about-past.html
/pages/about/about-past.js
/pages/about/lightBulb-sm.jpg
/pages/about/lightBulb.jpg
/pages/about/Map.jpg
/pages/about/resume-hover.jpg
/pages/about/resume.jpg
/pages/projects/projects-old.css
/pages/projects/projects-old.html
/pages/projects/projects-old.js