@font-face {
              font-family: "helvetica45";
              src: url("fonts/HelveticaNeueLTCom-Lt.ttf");
}

@font-face {
              font-family: "Mohave";
              src: url("fonts/Mohave.otf");
}

@keyframes headers {
    from { font-size: 120%; }
    to { font-size: 150%; }
}

header {
              text-align: center;
              background-color: #243F60;
              padding: 1px;
              color: #DAEEF3;
              font-family: Mohave;
              font-size: 200%;
}

nav { 
              background-color: #243F60; 
              padding: 0px;
              font-family: Mohave;
}

nav ul {
              list-style-type: none;
              margin: 0 auto;
              padding: 10px;
              text-align: center;
}

nav li {
              overflow: hidden;
              color: #DAEEF3;
              font-size: 120%;
              padding: 10px 10px;
              background-color: #243F60;
              opacity: 0.8;
              display: inline;
}

nav li a {
              overflow: hidden;
              color: #DAEEF3;
              text-decoration: none;
}

nav li a:hover {
              color: aliceblue;   
}

            
section {
              padding: 10px;
              font-family: helvetica45;
              color: black;
              position: relative;
              left: 10%;
              font-size: 100%;
              max-width: 70%;
              text-align: justify
              /*Font on mobile is off for helvetica 45*/
                  
              /*background-image: url("ipc003.jpg");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center; */
}

section h2 {
              font-size: 120%
              margin-bottom: 10px;
              position: relative;
              right: 0;
              animation-name: headers;
              animation-duration: 2s;
              transition: color 1s;
}

section h2:hover {
              color: cornflowerblue;   
}

section p {
              font-size: 100%;   
              margin: auto;
              position: relative;
              right: 0;
}

section span {
              margin: auto;
              position: relative;
              right: 0;
            
}
            
aside {
              line-height: 20px;
              background-color: beige;
              height: 1000px;
              max-width: 240px;
              float: left;
              padding: 5px;
              font-family: helvetica45;
}

aside h3 {
              line-height: 30px;  
              font-family: helvetica45;
              margin: 20px 45px;
}

aside p {
              margin: 20px 45px;
}

        