@font-face {
        font-family: "slimjoe";
        src: url("fonts/Slim%20Joe.otf");
}

@font-face {
              font-family: "helvetica45";
              src: url("fonts/HelveticaNeueLTCom-Lt.ttf");
}

@font-face {
              font-family: "Mohave";
              src: url("fonts/Mohave.otf");
}

@font-face {
              font-family: "langdon";
              src: url("fonts/Langdon.otf");
}

@font-face {
              font-family: "scala";
              src: url("fonts/Scala.otf");
}

@font-face {
              font-family: "scala-italics";
              font-weight: italic;
              src: url("fonts/Scala-Italic.otf");
}

#head {
              position: fixed;
              top: 0;
              left: 0;
              z-index: 1;
              background-color: rgba(0,0,0,1.0);
}

#head ul {
              text-align: center;
              margin: 5px;
}

#head li {
              display: inline;
              list-style-type: none;
              color: white;
              font-family: Mohave;
              font-size: 120%;
              position:relative;
              
}


#firstRow {
              text-align: center;
              font-family: "Mohave";
              background-clip: padding-box;
              font-size: 150%;
              position: relative;
              
}

#r1c1 {
              background-color: rgba(151,241,194,1.0);
              padding: 90px 0px;   
}

#r1c1-hover {
              visibility: hidden;
              position: absolute;
              left: 0;
              top: 20%;
              height: 75%;
              background-color: rgba(0,0,0,0.8);
              z-index: 1;
}

#r1c1 h2 {
              font-family: slimjoe;   
}

#r1c1 h3 {
              color:aliceblue;
    
              
}

#r1c1 p {
              color:aliceblue;
              font-family: scala;
              font-size: 65%;
              width: 70%;
              position: relative;
              left: 15%;
}


#r1c2 {
              background-color: rgba(161,179,231,1.0);
              padding: 90px 0px;   
}


#r1c3 {
              background-color: rgba(229,163,163,1.0);
              padding: 90px 0px;   
}

#secondRow {
              text-align: center;
              font-family: "Mohave";
              background-clip: padding-box;
              font-size: 150%;
              position: relative;
              
}

#r2c1 {
              background-color: rgba(240,241,194,1.0);
              padding: 90px 0px;   
}


#r2c2 {
              background-color: rgba(161,245,231,1.0);
              padding: 55px 0px;
              font-family: langdon;
}

#r2c2 p {
              font-size: 300%;
}

#r2c3 {
              background-color: rgba(229,243,50,1.0);
              padding: 90px 0px;   
}

#thirdRow {
              text-align: center;
              font-family: "Mohave";
              background-clip: padding-box;
              font-size: 150%;
              position: relative;
              
}

#r3c1 {
              background-color: rgba(151,241,194,1.0);
              padding: 90px 0px;   
}


#r3c2 {
              background-color: rgba(100,179,231,1.0);
              padding: 90px 0px;   
}


#r3c3 {
              background-color: rgba(120,200,243,1.0);
              padding: 90px 0px;   
}