@font-face {
              font-family: "moon";
              src: url("fonts/Moon%20Bold.otf");
}

@font-face {
              font-family: "galano";
              src: url("fonts/Galano%20Grotesque%20Alt.otf");
}

@font-face {
              font-family: "scala";
              src: url("fonts/Scala.otf");
}

@font-face {
              font-family: "helvetica45";
              src: url("fonts/HelveticaNeueLTCom-Lt.ttf");
}

@font-face {
              font-family: "raleway";
              src: url("fonts/Raleway-Medium.ttf");
}

@font-face {
              font-family: "ralewayBold";
              src: url("fonts/Raleway-Bold.ttf");
}



header {
                position: fixed;
                top: 0px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.96);
                z-index: 9000; /* #over9000 */
}

header div {
                display: none;
}

header h1 {
              font-family: moon;
              font-size: 300%;
              position: absolute;
              top: 35%;
              margin: 0% 5%;
}

header ul {
                
                list-style: none;
                font-family: moon;
                font-size: 120%;
                position: relative;
                text-align: right;
                top: 50%;
}

header li {
                display: inline; 
                margin-right: 5%;
}

header a:link {
                text-decoration: none;  
                color: black;
                color: rgba(0,0,0,0.5);
}
header a:visited { 
                text-decoration: none;  
                color: rgba(0,0,0,0.5);
}
header a:hover { 
                text-decoration: none;  
                color: black;
                color: rgba(0,0,0,1.0);
}
header a:active { 
                text-decoration: none;  
                color: black;
                color: rgba(0,0,0,0.5);
}

section {
                background-color: rgba(236, 240, 240, 1.0);
}

#row1 {
                position: relative;   
                top: 20%;
}

#r1c1 {
                position: relative;
                background-color: rgba(17,27,41,1.0);
                color: #ecf0f1;
                font-size: 1.1vw;
                font-family: raleway;
                
}

#r1c1 h2 {
                position: absolute;
                font-family: ralewayBold;
                margin-left: 10%;
                color: #FF6666;
}


#r1c1 p{
                position: absolute;
                margin-left: 10%;
                margin-top: 9%;
                text-align: left;
                width: 70%;
}

#row1 img {
                margin-left: -20px;
                
}

#row2 {
                position: relative;
                top: 20%;
                left: -1%;
}

#r2c1 {
                position: relative;
                left: -1%;
                width: 58%;
                background-color: white;

}


#skill1 {
                position: absolute;
                width: 100%;
                left: 0px;
                height: 80%;
                top: 12%;
}

#skill2 {
                position: absolute;
                width: 100%;
                left: 0px;
                height: 80%;
                top: 12%;
}


#r2c1 h2 {
                font-family: ralewayBold;
                color: rgba(44, 62, 80,1.0);
                text-align: center;
}

#python {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 8%;
                width: 40%;
                height: 12%;
                top: 10%;
}

#r2c1 div#pythonBar {
                position: absolute;
                width: 80%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: pyBar;
                animation-duration: 4s;
}

#pythonOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 2%;
                left: 7.5%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes pyBar {
    from { width: 1%; }
    to { width: 80%; }
}

#c {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 8%;
                width: 40%;
                height: 12%;
                margin-top: -3%;
                top: 15%;
}

#r2c1 div#cBar {
                position: absolute;
                width: 55%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: cBar;
                animation-duration: 4s;
}

#cOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 7%;
                left: 7.5%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes cBar {
    from { width: 1%; }
    to { width: 55%; }
}

#arduino {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 8%;
                width: 40%;
                height: 12%;
                margin-top: -3%;
                top: 21%;
}

#r2c1 div#arduinoBar {
                position: absolute;
                width: 50%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: arduinoBar;
                animation-duration: 4s;
}

#arduinoOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 13%;
                left: 7.5%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes arduinoBar {
    from { width: 1%; }
    to { width: 50%; }
}

#sql {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 8%;
                width: 40%;
                height: 12%;
                margin-top: -3%;
                top: 28%;
}

#r2c1 div#sqlBar {
                position: absolute;
                width: 45%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: sqlBar;
                animation-duration: 4s;
}

#sqlOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 20%;
                left: 7.5%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes sqlBar {
    from { width: 1%; }
    to { width: 60%; }
}

#htmlcss {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 50.2%;
                width: 40%;
                height: 12%;
                top: 10%;
}

#r2c1 div#htmlcssBar {
                position: absolute;
                width: 90%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: htmlcssBar;
                animation-duration: 4s;
}

#htmlcssOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 2%;
                left: 50%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes htmlcssBar {
    from { width: 1%; }
    to { width: 90%; }
}

#js {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 50.2%;
                width: 40%;
                height: 12%;
                margin-top: -3%;
                top: 15%;
}

#r2c1 div#jsBar {
                position: absolute;
                width: 60%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: jsBar;
                animation-duration: 4s;
}

#jsOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 7%;
                left: 50%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes jsBar {
    from { width: 1%; }
    to { width: 60%; }
}

#adobes {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 50.2%;
                width: 40%;
                height: 12%;
                margin-top: -3%;
                top: 21%;
}

#r2c1 div#adobesBar {
                position: absolute;
                width: 50%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: adobesBar;
                animation-duration: 4s;
}

#adobesOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 13%;
                left: 50%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes adobesBar {
    from { width: 1%; }
    to { width: 50%; }
}

#learn {
                position: relative;
                font-family: raleway;
                font-size: 1.1vw;
                left: 50.2%;
                width: 40%;
                height: 12%;
                margin-top: -3%;
                top: 28%;
}

#r2c1 div#learnBar {
                position: absolute;
                width: 98%;
                left: 1%;
                height: 75%;
                top: 9.9%;
                border-radius: 10px;
                background-color: #FF6666;
                animation: learnBar;
                animation-duration: 4s;
}

#learnOutline {
                position: relative;
                width: 40%;
                height: 6%;
                top: 20%;
                left: 50%;
                border-color: #FF6666;
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                z-index: 1;
}

@keyframes learnBar {
    from { width: 1%; }
    to { width: 98%; }
}

#row3 {
                position: relative;
                top: 20%;
}

#row3 img {
                margin-left: -20px;
                
}

#r3c1 {
                position: relative;
                width: 50%;
                background-color: rgba(17,27,41,1.0);
}

#r3c1 h2 {
                color: #FF6666;
                font-size: 6vw;
                text-align: center;
                font-family: ralewayBold;
                margin-top: 8%;
}

#r3c1 p {
                color: rgba(236, 240, 240, 1.0);
                font-family: raleway;
                text-align: center;
                margin-top: 5%;
}

#row4 {
                position: relative;
                top: 20%; 
}

#contact {
                background-color: #2E2E2E;
}

#contact h2 {
                padding-top: 1%;
                font-family: moon;
                color: #FF6666;
                text-align: center;
}

#contact p {
                color: rgba(236, 240, 240, 1.0);
                font-family: raleway;
                text-align: center;
                position: relative;
                font-size: 1.5vw;
}

#contact a {
                text-decoration: none;
                position: relative;
                color: rgba(236, 240, 240, 1.0);
                margin: 25%;
}

#contact a:hover {
                text-decoration: none;
                position: relative;
                color: rgba(236, 240, 240, 0.8);
                margin: 25%;
}

/*Mobile & Tablets*/

@media screen and (max-width: 992px) {
    
#row1 {
                position: absolute;
                z-index: 1;
                width: 110%;
                top: 15%;
}

#row1 img {
                position: relative;
                left: -5%;
}

#r1c1 {
                position: relative;
                font-size: 1.4vw;
}
    
#r1c1 h2 {
                margin-left: 15%;   
}
    
#r1c1 p {
                margin-left: 15%;
                position: relative;
                top: 10%;
}
    
#row2 {
                position: absolute;
                z-index: 1;
                width: 110%;
                left: 0%;
}
    
#row2 img {
                position: relative;
                width: 100%;
                
}

#r2c1 {
                position: relative;
                width: 63%;
                left: -2%;
}

#row3 {
                position: absolute;
                z-index: 1;
                width: 110%;
}

#row4 {
                position: absolute;
                z-index: 1;
                width: 110%;
                
}
    
header div {
                display: none;
}
    
header ul {
                display: block;
                list-style: none;
                font-family: moon;
                font-size: 120%;
                position: relative;
                text-align: right;
                top: 50%;
}

header li {
                display: inline;
                margin-right: 5%;
}

    
@media screen and (max-width: 880px) {
    

header div {
                position: fixed;
                display: block;
                top: 0px;
                right: 0px;
                background-color: rgba(255, 102, 102, 0.7);
                z-index: 9001;
               
}
    
.arrow {
                position: fixed;
                width: 0px; 
                height: 0px;
                right: 0px;
                opacity: 0.3;
                border-left: 25px solid transparent; 
                border-top: 25px solid transparent; 
                border-right: 25px solid black; 
                border-bottom: 25px solid transparent;   
}
    
header ul {
                display: none;
                list-style: none;
                font-family: moon;
                font-size: 140%;
                position: relative;
                text-align: right;
                top: 0%;
                z-index: 9002;
                
}
    
header li {
                display: block; 
                margin-right: 5%;
}
    

    
}

@media screen and (max-width: 750px) {

header div {
                position: fixed;
                display: block;
                top: 0px;
                right: 0px;
                background-color: rgba(255, 102, 102, 0.7);
                z-index: 9001;
               
}
    
.arrow {
                position: relative;
                width: 0px; 
                height: 0px;
                right: 0px;
                opacity: 0.3;
                border-left: 25px solid transparent; 
                border-top: 25px solid transparent; 
                border-right: 25px solid black; 
                border-bottom: 25px solid transparent;   
}

#r1c1 {
                    
}
    
#r1c1 h2 {
                margin-left: 10%;
}
    
#r1c1 p {
                margin-top: 75px;
                margin-left: 10%;
                font-size 14px;
}
    
#row2 {
    
}
 
#row2 img {
                display: none;   
}

#r2c1 {
                width: 100%;
}
    
}