html, body {
margin:0;
padding:0;
}
@font-face {
        font-family: "mohave";
        src: url("fonts/Mohave.otf");
}
@font-face {
        font-family: "adamCG";
        src: url("fonts/ADAM.CG%20PRO.otf")
}
/*************** Mobiles ******************/

@media only screen and (max-width: 992px) {
html, body {
    overflow-y: scroll;
}
#bg {
    background-color: rgba(86, 101, 115,0.85);
    height: 100%;
    width: 100%;
    position: fixed;
}
#bg-img {
    position: fixed;
    background-image: url(photos/snow.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}
section {
    position: absolute;
    width: 100%;
}
.sub-header {
    text-align: center;
}
.header {
    text-align: center;   
}
section h1 {
    position: relative;
    color: #E8EAE9;
    font-family: mohave;
    font-size: 9em;
}
section p {
    position: relative;
    color: #D0E9DD;
    font-family: mohave;
    font-size: 1.5em;
    top: 5.8em;
    left: -5.5em;
}
.boxes {
    position: relative;
    top: -4em;
    text-align: center;
}
.buttons {
    display: block;
    font-size: 2em;
    color: #D0E9DD;
    margin: 0.5em 13%;
    font-family: mohave;
    text-decoration: none;
    text-align: left;
}
.buttons:hover {
    color: white;
    border-bottom: solid;
    border-width: 3px;
    border-color: #D0E9DD;
    -webkit-transition: border 300ms;
    -moz-transition: border 300ms;
    -ms-transition: border 300ms;
    transition: border 300ms;
}
.white {
    color: #E8EAE9;   
}
header {
    display: none;
}
}



/*************** Desktop ******************/
@media only screen and (min-width: 992px) {
html, body {
    overflow-x: hidden;
    overflow-y: auto;
}
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}
@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}
@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
.intro-header {
    background-color: #212F3C;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: 999;
    animation-name: intro;
    animation-duration: 4s;
}
@keyframes intro {
    0% { 
        opacity: 1.0; 
        color: rgba(0,0,0,0.0);
    }
    80% {
        color: rgba(0,0,0,1.0);
        opacity: 1.0;
    }
    90% {
        opacity: 0.0;
        color: rgba(0,0,0,1.0);
    }
    100% {
        opacity: 0.0;
        color: rgba(0,0,0,1.0);
    }
}
#intro-text {
    color: rgba(255,255,255,1.0);
    position: relative;
    top: 15%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 2000%;
    font-family: adamCG;
}
#period {
    color: white;
    animation-name: intro-period;
    animation-duration: 4s;
    animation-delay: 1s;
}
@keyframes intro-period {
    0% {
        color: white;
    }
    10% {
        color: #86C4EB;
    }
    100% {
        color: #86C4EB;
    }
}
#bg {
    background-color: rgba(86, 101, 115,0.85);
    height: 100%;
    width: 100%;
    position: fixed;
}
#bg-img {
    position: fixed;
    background-image: url(photos/snow.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}
section {
    position: absolute;
    top: 10%;
    width: 100%;
}
.sub-header {
    text-align: center;   
}
.header {
    text-align: center;   
}
section h1 {
    position: relative;
    color: #E8EAE9;
    font-family: mohave;
    font-size: 9em;
}
section p {
    position: relative;
    color: #D0E9DD;
    font-family: mohave;
    font-size: 1.5em;
    top: 5.5em;
    left: -5.5em;
}
.boxes {
    position: relative;
    top: -4em;
    text-align: center;
}
.buttons {
    display: inline-block;
    font-size: 2em;
    color: #D0E9DD;
    margin: 0em 1em;
    font-family: mohave;
    text-decoration: none;
    width: 140px;
    text-align: right;
}
.buttons:hover {
    border-bottom: solid;
    border-width: 3px;
    border-color: #D0E9DD;
    -webkit-transition: border 300ms;
    -moz-transition: border 300ms;
    -ms-transition: border 300ms;
    transition: border 300ms;
}
.white {
    color: #E8EAE9;
}
}
