html, body {
margin:0;
padding:0;
background-color: rgba(110,232,174,0.7);
}
@font-face {
        font-family: "adamCG";
        src: url("fonts/ADAM.CG%20PRO.otf");
}

/*************** Mobiles ******************/

@media only screen and (max-width: 992px)  {
.middle-bar {
    text-align: center;
    font-family: adamCG;
    position: relative;
    background-color: rgba(60,60,60,1);
    height: 140px;
}
#middle-bar-text {
    color: white;
    border-width: 5px;
    border-style: solid;
    font-size: 2.5em;
    position: absolute;
    padding: 5px;
    left: 30%;
    right: 30%;
    z-index: 1;
}
    
}



/*************** Desktop ******************/
@media only screen and (min-width: 992px) {

.middle-bar {
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 42.5%;
    left: 41%;
    font-family: adamCG;
    width: 18em;
    animation: intro;
    animation-duration: 5s;
    animation-timing-function: ease;
    text-align: center;
    color: white;
    background-color: rgba(110,232,174,0.7);
    z-index: 1;
}
#middle-bar-text {
    color: rgba(0,0,0,1.0);
    font-size: 3em;
    padding: 0px;
    margin: 5px;
    animation: intro-fade;
    animation-duration: 5s;
    animation-timing-function: ease;
    color: white;
    cursor: default;
}
@keyframes intro {
    0% { width: 0em; }
    20% { width: 10em; }
    40% { width: 10em; }
    43% { width: 0em; }
    63% { width: 12em; }
    83% { width: 12em; }
    86% { width: 0em; }
    100% { width: 18em; }
}
@keyframes intro-fade {
    0% { color: rgba(0,0,0,0.0); }
    6% { color: rgba(0,0,0,0.0); }
    26% { color: rgba(255,255,255,1.0); }
    40% { color: rgba(255,255,255,1.0); }
    40.5% { color: rgba(0,0,0,0.0); }
    48% { color: rgba(0,0,0,0); }
    81% { color: rgba(255,255,255,1.0); }
    81.3% { color: rgba(0,0,0,0.0); }
    92% { color: rgba(0,0,0,0); }
    100% { color: rgba(255,255,255,1.0); }
}

.about {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 30%;
    left: 25%;
    font-size: 12px;
}

.projects {
    position: absolute;
    height: 25%;
    width: 25%;
    left: 50%;
    top: 30%;
}

.experiences {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 55%;
    left: 25%;
}

.interests {
    position: absolute;
    height: 25%;
    width: 25%;
    left: 50%;
    top: 55%;
}

header {
    position: relative;
    top: 50px;
}
    
img {
    position: fixed;
    z-index: -1;
}
section {
    z-index: 0;
    background-color: rgba(110,232,174,0.4);
}
    
}

/*

Issues for future:
- Image resizing, does it really help with speed (bg/img?)?
- animation repeat when resize


*/