html, body {
margin:0;
padding:0;
overflow-x: hidden;
}
@font-face {
        font-family: "adamCG";
        src: url("../../fonts/ADAM.CG%20PRO.otf");
}
@font-face {
        font-family: "raleway";
        src: url("../../fonts/Raleway-Regular.ttf");
}
@font-face {
        font-family: "raleway-small";
        src: url("../../fonts/Raleway-Thin.ttf");
}
@font-face {
        font-family: "year-font";
        src: url("../../fonts/ufonts.com_akzidenz-grotesk-bold.ttf");
}
.important { color: #F1948A; }

/*************** Mobiles ******************/
@media only screen and (max-width: 992px)  {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
#bg-color {
    background-color: rgba(23, 32, 42, 0.90);
    z-index: 1;
    width: 100%;
    position: absolute;
}
#bg {
    background-color: rgba(23, 32, 42, 0.90);
    display:block;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url(projects.jpg);
    background-size: cover;
}
header h2, h2 a {
    position: fixed;
    left: 15px;
    top: 15px;
    font-size: 1.45em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 1000;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 1em;
    top: 20px;
    font-size: 2.5em;
    z-index: 1000;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    top: 15px;
    font-size: 2.5em;
    z-index: 1000;
    color: #D0E9DD;
    cursor: pointer;
}
#nav-button:hover {
    color: rgba(120, 144, 156, 1.0);
}
.header-on {
    left: 15px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 3px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 0px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 20px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
    z-index: 999;
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on,
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px;
}
.section-on {
    left: 0px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 140px;
    left: 25px;
    text-align: left;
    font-size: 5em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 5px;
}
#bg h2 {
    z-index: 3;
    margin: 130px 0px; padding: 0px;
    position: relative;
    text-align: left;
    font-size: 3em;
    left: 25px;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    left: 0px;
    max-width: auto;
}
.bottom-content-on {
    left: 0px;   
}
.important { color: #F1948A; }
.project {
    padding: 25px 25px;
    width: 85%;
    position: relative;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #D0E9DD;
}
.project-title {
    font-size: 2.5em;
    color: rgba(23, 32, 42, 0.90);
    font-family: raleway;
}
.project-date {
    font-size: 1em;
    color: rgba(23, 32, 42, 0.90);
    font-family: raleway;
}
.project-photos {
    width: 100%;
}
.project-description {
    width: 100%;
    font-family: raleway;
    font-size: 1em;
    text-align: left;
}
.project-description a {
    color: #1ABC9C;
}
.project-description a:visited {
    color: #1ABC9C;
}
.project-description a:hover {
    color: #1ABC9C;
    opacity: 0.7;
}
    
}


/*************** Desktop ******************/
@media only screen and (min-width: 992px) {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
#bg-color {
    background-color: rgba(23, 32, 42, 0.90);
    z-index: 1;
    width: 100%;
    position: absolute;
}
#bg {
    background-color: rgba(23, 32, 42, 0.90);
    display:block;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url(projects.jpg);
    background-size: cover;
}
header h2, h2 a {
    position: fixed;
    left: 80px;
    top: 35px;
    font-size: 1.6em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 100px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    right: 350px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
    cursor: pointer;
}
#nav-button:hover {
    color: #D5DBDB;
}
.header-on {
    left: -150px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 30px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on,
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
.section-on {
    left: -250px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 9em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
}
#bg h2 {
    z-index: 3;
    margin: -15px 0px; padding: 0px;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 4em;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    padding: 5% 0%;
    left: 0px;
}
.bottom-content-on {
    left: -250px;   
}
.year {
    width: 100%;
}
.year h2 {
    font-family: year-font;
    font-size: 40px;
    color: #5DADE2  ;
    margin: 40px 5%;
    }
    .year hr{
        margin: 0px;
        padding: 0px;
        height: 2px;
        background-color: #5D6D7E;
    }
.project {
    margin: 0 5%;
    width: 90%;
    height: 200px;
    cursor: pointer;
    display: inline-block;
    
}
.project-main-img {
    position: relative;
    z-index: 1 ;
    }
.project-main-img:hover {
    opacity: 0.9;
    }
.project-content {
    background-color: rgba(0,0,0,0.95);
    color: white;
    z-index: 999;
    position: fixed;
    height: 100%; width: 100%;
    left: 0; top: 0;
    display: none;
    cursor: default;
    overflow: auto;
    }
.exit-popup {
    position: fixed;
    right: 50px;
    top: 30px;
    font-size: 2.5em;
    font-family: raleway-small;
    z-index: 5;
}
.exit-popup:hover {
    opacity: 0.8;
    cursor: pointer;
    z-index: 5;
}
.project-content h2 {
    font-size: 2.5em;
    color: white;
    font-family: raleway;
    margin: 5% 10%;
    width: 80%;
}
.project-date {
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
    font-family: raleway;
    margin: 2% 10%;
    width: 80%;
}
.project-photos {
    display: block;
    margin: 1% auto;
    max-width: 640px;
}
.project-video {
    display: block;
    margin: 5% auto;
    }
.project-description {
    width: 100%;
    font-family: raleway;
    font-size: 1em;
    text-align: justify;
    margin: 0 10%;
    width: 80%;
}
.project-description a {
    color: #1ABC9C;
}
.project-description a:visited {
    color: #1ABC9C;
}
.project-description a:hover {
    color: #1ABC9C;
    opacity: 0.7;
}

    
}
