html, body {
margin:0;
padding:0;
overflow-x: hidden;
}
@font-face {
        font-family: "adamCG";
        src: url("../../fonts/ADAM.CG%20PRO.otf");
}
@font-face {
        font-family: "raleway";
        src: url("../../fonts/Raleway-Regular.ttf");
}
@font-face {
        font-family: "raleway-small";
        src: url("../../fonts/Raleway-Thin.ttf");
}

.important { color: #F1948A; }

/*************** Mobiles ******************/
@media only screen and (max-width: 992px)  {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(23, 32, 42, 0.90);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
header h2, h2 a {
    position: fixed;
    left: 15px;
    top: 15px;
    font-size: 1.45em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 1em;
    top: 20px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    top: 15px;
    font-size: 2.5em;
    z-index: 2;
    color: white;
    cursor: pointer;
}
#nav-button:hover {
    color: rgba(120, 144, 156, 1.0);
}
.header-on {
    left: 15px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 2px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on,
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px;
}
.section-on {
    left: 0px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 6em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 5px;
}
#bg h2 {
    z-index: 3;
    margin: 130px 0px; padding: 0px;
    position: relative;
    text-align: left;
    font-size: 4em;
    left: 25px;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    left: 0px;
    max-width: auto;
}
.bottom-content-on {
    left: 0px;   
}
.important { color: #F1948A; }
.project {
    padding: 25px 25px;
    width: 85%;
    position: relative;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #D0E9DD;
}
.project-title {
    font-size: 2.5em;
    color: rgba(23, 32, 42, 0.90);
    font-family: raleway;
}
.project-date {
    font-size: 1em;
    color: rgba(23, 32, 42, 0.90);
    font-family: raleway;
}
.project-photos {
    width: 100%;
}
.project-description {
    width: 100%;
    font-family: raleway;
    font-size: 1em;
    text-align: left;
}
.project-description a {
    color: #1ABC9C;
}
.project-description a:visited {
    color: #1ABC9C;
}
.project-description a:hover {
    color: #1ABC9C;
    opacity: 0.7;
}
    
}


/*************** Desktop ******************/
@media only screen and (min-width: 992px) {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(23, 32, 42, 0.90);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
header h2, h2 a {
    position: fixed;
    left: 80px;
    top: 35px;
    font-size: 1.6em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 100px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    right: 350px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
    cursor: pointer;
}
#nav-button:hover {
    color: #D5DBDB;
}
.header-on {
    left: -150px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 30px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on,
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
.section-on {
    left: -250px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 9em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
}
#bg h2 {
    z-index: 3;
    margin: -15px 0px; padding: 0px;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 4em;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    padding: 5% 15%;
    left: 0px;
}
.bottom-content-on {
    left: -250px;   
}
.project {
    padding: 25px 15px;
    width: 45%;
    position: relative;
    border-color: #D0E9DD;
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    margin-top: -20%;
}
.project-right {
    left: 50%;
    margin-top: -20%;
    
}
.project-title {
    font-size: 2.5em;
    color: rgba(23, 32, 42, 0.90);
    font-family: raleway;
}
.project-date {
    font-size: 1em;
    color: rgba(23, 32, 42, 0.90);
    font-family: raleway;
}
.project-photos {
    width: 100%;
}
.project-description {
    width: 100%;
    font-family: raleway;
    font-size: 1em;
    text-align: justify;
}
.project-description a {
    color: #1ABC9C;
}
.project-description a:visited {
    color: #1ABC9C;
}
.project-description a:hover {
    color: #1ABC9C;
    opacity: 0.7;
}


}
