html, body {
margin:0;
padding:0;
overflow-x: hidden;
}
@font-face {
        font-family: "adamCG";
        src: url("../../fonts/ADAM.CG%20PRO.otf");
}
@font-face {
        font-family: "raleway";
        src: url("../../fonts/Raleway-Regular.ttf");
}
@font-face {
        font-family: "raleway-small";
        src: url("../../fonts/Raleway-Thin.ttf");
}
.important { color: #F1948A; }

/*************** Mobiles ******************/
@media only screen and (max-width: 992px)  {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(127, 140, 141, 0.45);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
}
header h2, h2 a {
position: fixed;
    left: 15px;
    top: 15px;
    font-size: 1.45em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .i-on {
    position: fixed;
    right: 350px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
    cursor: pointer;
}
header .fa-bars {
    position: fixed;
    right: 1em;
    top: 20px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    top: 15px;
    font-size: 2.5em;
    z-index: 2;
    color: white;
    cursor: pointer;
}
#nav-button:hover {
    color: rgba(120, 144, 156, 1.0);
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 5;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 30px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section,
    #bg h2, #bg h1, .bottom-content {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 30%;
    text-align: left;
    font-size: 4em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
    left: 25px;
}
#bg h2 {
    z-index: 3;
    margin: 0px 0px; padding: 0px;
    position: relative;
    top: 30%;
    left: 25px;
    text-align: left;
    font-size: 3em;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    left: 0px;
}
.description {
    padding: 5% 10%;
    position: relative;
    z-index: 0;
    font-family: adamCG;
    font-size: 1.3em;
    cursor: default;
}
.content {
    padding: 0% 0%;   
}
.column { 
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    float: left;
}
.content-popup {
    position: relative;
    color: white;
    background-color: rgba(25,25,25,.9);
    width: 100%;
    display: none;
    overflow: hidden;
}
.exit-popup {
    display: none;   
}
.content-popup h2 {
    font-family: adamCG;
    position: relative;
    top: 5%;
    padding-left: 5%;
    text-align: left;
    font-size: 1.4em;
}
.content-popup p {
    font-family: raleway;
    position: relative;
    top: 25%;
    padding-left: 5%;
    font-size: 1em;
    width: 90%;
    text-align: left;
}
.img-right {
    position: relative;
    display: block;
    padding: 15px;
    width: 80%;
    left: 5%;
    z-index: 1;
}
.img-left {
    position: relative;
    display: block;
    padding: 15px;
    width: 80%;
    left: 5%;
    z-index: 1;
}
.img-middle {
    position: relative;
    display: block;
    padding: 15px;
    width: 80%;
    left: 5%;
    z-index: 1;
}
.photo-grid {
    display: none;
}
.photo-mobile {
    position: relative;
    z-index: 1;
    width: 80%;
    left: 5%;
    display: block;
    padding: 15px;
}
.typography {
    font-size: 1em;   
}
}


/*************** Desktop ******************/
@media only screen and (min-width: 992px) {
a {
    text-decoration: none;
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(127, 140, 141, 0.45);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
}
header h2, h2 a {
    position: fixed;
    left: 80px;
    top: 35px;
    font-size: 1.6em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 100px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    right: 350px;
    top: 40px;
    font-size: 2.5em;
    z-index: 4;
    color: #D0E9DD;
    cursor: pointer;
}
#nav-button:hover {
    color: #D5DBDB;
}
.header-on {
    left: -150px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 5;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 30px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on, 
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
.section-on {
    left: -250px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 9em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
    cursor: default;
}
#bg h2 {
    z-index: 3;
    margin: -20px 0px; padding: 0px;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 4em;
    font-family: raleway-small;
    color: #F1948A  ;  
    cursor: default;
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;

    left: 0px;
}
.bottom-content-on {
    left: -250px;   
}
.description {
    padding: 5% 25%;
    position: relative;
    z-index: 0;
    font-family: adamCG;
    font-size: 1.5em;
    cursor: default;
}
.content {
    padding: 0% 0%;   
}
.column { 
    opacity: 0.8;
    cursor: pointer;
}
.column:hover { opacity: 1.0; }
.column-2-2 {
    width: 50%;
    float: left;
    padding: 0px; margin: 0px;
}
.column-2 {
    width: 25%;
    float: left;
    padding: 20px;
    margin-left: 5%;
}
.column-3-3 {
    width: 33.33%;
    float: left;
}
.column-1 {
    width: 100%;
    float: left;
    left: 0;
}
.content-popup {
    position: fixed;
    color: white;
    background-color: rgba(25,25,25,.9);
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}
.exit-popup {
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 2.5em;
    font-family: raleway-small;
}
.exit-popup:hover {
    opacity: 0.8;
    cursor: pointer;
}
.content-popup h2 {
    font-family: adamCG;
    position: relative;
    top: 5%;
    padding-left: 5%;
    text-align: left;
    font-size: 2.2em;
}
.content-popup p {
    font-family: raleway;
    position: absolute;
    top: 25%;
    padding-left: 5%;
    font-size: 1em;
    width: 40%;
    text-align: left;
}
.content-popup-right {
    font-family: raleway;
    position: absolute;
    top: 25%;
    font-size: 1em;
    width: 40%;
    left: 50%;
}
.img-right {
    position: relative;
    display: block;
    padding: 15px;
    width: 40%;
    left: 50%;
}
.img-left {
    position: relative;
    display: block;
    padding: 15px;
    width: 40%;
    left: 5%;
}
.img-middle {
    position: relative;
    display: block;
    width: 40%;
    top: 700px;
    left: 30%;
    margin-bottom: 5%;
}
.photo-grid {
    width: 25%;
    position: relative;
    display: inline;
    top: 250px;
    left: 13%;
    right: 12%;
}
#typography {
    font-size: 1.5em;   
}
.img-wrapper {
    opacity: 0.95;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
}
.loaded {
    opacity: 1;
}
}
