html, body {
margin:0;
padding:0;
overflow-x: hidden;
}
@font-face {
        font-family: "adamCG";
        src: url("../../fonts/ADAM.CG%20PRO.otf");
}
@font-face {
        font-family: "raleway";
        src: url("../../fonts/Raleway-Regular.ttf");
}
@font-face {
        font-family: "raleway-small";
        src: url("../../fonts/Raleway-Thin.ttf");
}

.important { color: #F1948A; }

/*************** Mobiles ******************/
@media only screen and (max-width: 992px)  {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(93, 173, 226, 0.85);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
header h2, h2 a {
    position: fixed;
    left: 15px;
    top: 15px;
    font-size: 1.45em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 1000;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 1em;
    top: 20px;
    font-size: 2.5em;
    z-index: 1000;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    top: 15px;
    font-size: 2.5em;
    z-index: 1000;
    color: #D0E9DD;
    cursor: pointer;
}
#nav-button:hover {
    color: rgba(120, 144, 156, 1.0);
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 3px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 0px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 20px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;
    z-index: 999;
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section,
    #bg h2, #bg h1, .bottom-content {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 30%;
    text-align: left;
    font-size: 3.6em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
    left: 25px;
}
#bg h2 {
    z-index: 3;
    margin: 0px 0px; padding: 0px;
    position: relative;
    top: 30%;
    left: 25px;
    text-align: left;
    font-size: 2.5em;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    padding: 5% 25px;
    left: 0px;
}
.experience {
    width: 90%;
}
.experience h2 {
    color: rgba(93, 173, 226, 1.0);
    font-family: raleway;
    font-size: 2em;
    display: inline;
}
.experience h3 {
    font-family: raleway-small;
    font-size: 1.5em;
    display: inline;
}
.text {
    width: 95%;
    display: block;
    padding-top: 5px;
}
.text p {
    font-family: raleway;
    font-size: 1.1em;
    width: 95%;
}
.photos {
    max-width: 400px;
    display: block;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
}
}


/*************** Desktop ******************/
@media only screen and (min-width: 992px) {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(93, 173, 226, 0.85);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
header h2, h2 a {
    position: fixed;
    left: 80px;
    top: 35px;
    font-size: 1.6em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 100px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    right: 350px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
    cursor: pointer;
}
#nav-button:hover {
    color: #D5DBDB;
}
.header-on {
    left: -150px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: ;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 30px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on,
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
.section-on {
    left: -250px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 9em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
}
#bg h2 {
    z-index: 3;
    margin: -20px 0px; padding: 0px;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 4em;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    padding: 5% 15%;
    left: 0px;
}
.bottom-content-on {
    left: -250px;   
}
.experience {
    padding: 40px;
    float: left;
    width: 100%;
}
.experience h2 {
    color: rgba(93, 173, 226, 1.0);
    font-family: raleway;
    font-size: 2.5em;
    display: inline;
}
.experience h3 {
    font-family: raleway-small;
    font-size: 1.5em;
    display: inline;
}
.text {
    width: 60%;
    float: left;
}
.text p {
    font-family: raleway;
    font-size: 1.1em;
    width: 100%;
    
}
.photos { 
    max-width: 40%;
    float: right;
}
.photos-left {
    float: left;
}
.img-wrapper {
    opacity: 0;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
}
.loaded {
    opacity: 1;
}

}
