html, body {
margin:0;
padding:0;
overflow-x: hidden;
}
@font-face {
        font-family: "adamCG";
        src: url("../../fonts/ADAM.CG%20PRO.otf");
}
@font-face {
        font-family: "raleway";
        src: url("../../fonts/Raleway-Regular.ttf");
}
@font-face {
        font-family: "raleway-small";
        src: url("../../fonts/Raleway-Thin.ttf");
}
/*************** Mobiles ******************/
@media only screen and (max-width: 992px)  {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(120, 144, 156, 0.90);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
header h2, h2 a {
    position: fixed;
    left: 15px;
    top: 15px;
    font-size: 1.45em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 1em;
    top: 20px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    top: 15px;
    font-size: 2.5em;
    z-index: 2;
    color: white;
    cursor: pointer;
}
#nav-button:hover {
    color: rgba(120, 144, 156, 1.0);
}
.header-on {
    left: 15px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 2px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on,
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
.section-on {
    left: 0px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 150px;
    left: 25px;
    text-align: left;
    font-size: 6em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
}
#bg h2 {
    z-index: 3;
    margin: 130px 0px; padding: 0px;
    position: relative;
    text-align: left;
    font-size: 4em;
    left: 25px;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    padding: 5% 35px;
    left: 0px;
    max-width: auto;
}
.bottom-content-on {
    left: 0px;   
}
.important { color: #F1948A; }
.description h3 {
    font-family: raleway;
    font-size: 3em;
    color: rgba(120, 144, 156, 1.0);
}
.description p {
    font-family: raleway;
    font-size: 1.1em;
    padding-right: 70px;
}
.skills h3 {
    font-family: raleway;
    font-size: 3em;
    padding-right: 70px;
    color: rgba(120, 144, 156, 1.0);
}
.skills-bar {
    height: 600px;
    position: relative;
}
.left-column {
    width: 90%;
    position: relative;
}
.right-column {
    width: 90%;
    position: absolute;
}
.skillOutline {
            margin-top: -2%;
            position: relative;
            width: 90%;
            height: 10px;
            margin-left: 0%;
            border-color: #E5E8E8;
            background-color: #E5E8E8;
            border-width: 2px;
            border-radius: 0px;
            border-style: solid;
            display: block;
}
.skillText {
            font-family: raleway;
            font-size: 1.2em;
}
#pythonBar {
                position: absolute;
                width: 85%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: pyBar;
                animation-duration: 4s;
}
@keyframes pyBar {
    from { width: 1%; }
    to { width: 85%; }
}
#cBar {
                position: absolute;
                width: 75%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: cBar;
                animation-duration: 4s;
}
@keyframes cBar {
    from { width: 1%; }
    to { width: 75%; }
}
#arduinoBar {
                position: absolute;
                width: 50%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: arduinoBar;
                animation-duration: 4s;
}
@keyframes arduinoBar {
    from { width: 1%; }
    to { width: 50%; }
}
#sqlBar {
                position: absolute;
                width: 55%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: sqlBar;
                animation-duration: 4s;
}
@keyframes sqlBar {
    from { width: 1%; }
    to { width: 55%; }
}
#htmlcssBar {
                position: absolute;
                width: 90%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: htmlcssBar;
                animation-duration: 4s;
}
@keyframes htmlcssBar {
    from { width: 1%; }
    to { width: 90%; }
}
#jsBar {
                position: absolute;
                width: 70%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: jsBar;
                animation-duration: 4s;
}
@keyframes jsBar {
    from { width: 1%; }
    to { width: 70%; }
}
#adobesBar {
                position: absolute;
                width: 60%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: adobesBar;
                animation-duration: 4s;
}
@keyframes adobesBar {
    from { width: 1%; }
    to { width: 60%; }
}
#learnBar {
                position: absolute;
                width: 100%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: learnBar;
                animation-duration: 4s;
}
@keyframes learnBar {
    from { width: 1%; }
    to { width: 100%; }
}
.resume h3 {
    font-family: raleway;
    font-size: 3em;
    padding-right: 120px;
    color: rgba(120, 144, 156, 1.0);
}
.resume a {
    position: absolute;
    margin-left: 0.5em;
    color: rgba(120, 144, 156, 1.0);
}
.resume a:hover {
    color: rgba(120, 144, 156, 0.8);
}
}


/*************** Desktop ******************/
@media only screen and (min-width: 992px) {
a {
    text-decoration: none;   
}
h2 a:hover { color: #D5DBDB; }
.nav-off a:hover { color: #F7F9F9; }
.bg-img {
    z-index: 2;
}
#bg {
    background-color: rgba(120, 144, 156, 0.90);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
header h2, h2 a {
    position: fixed;
    left: 80px;
    top: 35px;
    font-size: 1.6em;
    font-family: adamCG;
    color: #D0E9DD;
    z-index: 2;
}
h2 a {
    border-style: solid;
    border-width: 4px;
    padding: 2px;
}
header .fa-bars {
    position: fixed;
    right: 100px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
}
header .i-on {
    position: fixed;
    right: 350px;
    top: 40px;
    font-size: 2.5em;
    z-index: 2;
    color: #D0E9DD;
    cursor: pointer;
}
#nav-button:hover {
    color: #D5DBDB;
}
.header-on {
    left: -150px;   
}
nav {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    background-color: #D5D8DC;
}
nav a {
    display: block;
    padding: 5px 50px;
    font-family: raleway;
    font-size: 1.5em;
    color: rgba(120, 144, 156, 1.0);
}
nav h2 {
    position: relative;
    font-family: raleway;
    font-size: 2em;
    color: rgba(120, 144, 156, 1.0);
    padding-bottom: 30px;
    left: 50px;
}
.icons {
    display: inline-block;
    font-size: 2em;
    padding: 10px 20px;
}
.icons-one {
    margin-left: 100px;
    margin-top: 40px;
}
.icons-two {
    margin: 0px 35px;
}
.icons-three {
    margin: 0px 20px;
}
.icons-four {
    margin-left: 100px;
    margin-bottom: -20px;
}
nav p {
    position: relative;
    font-family: raleway;
    font-size: 1em;
    color: rgba(120, 144, 156, 1.0);
    left: 50px;
    margin-top: -10px;
}
.nav-off {
    right: -250px;   
}
.nav-on {
    right: 0px;
}
.nav-on, .nav-off, .header-on, .i-on, h2 a,
    .fa-bars, section, .section-on,
    #bg h2, #bg h1, .bottom-content, .bottom-content-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;   
}
section {
    position: absolute;
    left: 0px;
}
section img {
    width: 100%;
    z-index: -1;
}
.section-elements {
    left: 0px; 
}
.section-on {
    left: -250px;   
}
#bg h1 {
    z-index: 3;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 9em;
    font-family: raleway-small;
    color: #F7F9F9;
    margin: 0px; padding: 0px;
}
#bg h2 {
    z-index: 3;
    margin: -40px 0px; padding: 0px;
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 4em;
    font-family: raleway-small;
    color: #F1948A  ;  
 }
.bottom-content {
    position: relative;
    margin: -20px 0px;
    background-color: #F7F9F9;
    padding: 5% 15%;
    left: 0px;
}
.bottom-content-on {
    left: -250px;   
}
.important { color: #F1948A; }
.description h3 {
    font-family: raleway;
    font-size: 3em;
    color: rgba(120, 144, 156, 1.0);
}
.description p {
    font-family: raleway;
    font-size: 1.4em;
}
.skills h3 {
    font-family: raleway;
    font-size: 3em;
    color: rgba(120, 144, 156, 1.0);
}
.skills-bar {
    height: 300px;
    position: relative;
}
.left-column {
    width: 50%;
    position: absolute;
}
.right-column {
    width: 50%;
    position: absolute;
    left: 50%
}
.skillOutline {
            margin-top: -2%;
            position: relative;
            width: 70%;
            height: 10px;
            margin-left: 0%;
            border-color: #E5E8E8;
            background-color: #E5E8E8;
            border-width: 2px;
            border-radius: 0px;
            border-style: solid;
            display: block;
}
.skillText {
            font-family: raleway;
            font-size: 1.2em;
}
#pythonBar {
                position: absolute;
                width: 85%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: pyBar;
                animation-duration: 4s;
}
@keyframes pyBar {
    from { width: 1%; }
    to { width: 85%; }
}
#cBar {
                position: absolute;
                width: 75%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: cBar;
                animation-duration: 4s;
}
@keyframes cBar {
    from { width: 1%; }
    to { width: 75%; }
}
#arduinoBar {
                position: absolute;
                width: 50%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: arduinoBar;
                animation-duration: 4s;
}
@keyframes arduinoBar {
    from { width: 1%; }
    to { width: 50%; }
}
#sqlBar {
                position: absolute;
                width: 55%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: sqlBar;
                animation-duration: 4s;
}
@keyframes sqlBar {
    from { width: 1%; }
    to { width: 55%; }
}
#htmlcssBar {
                position: absolute;
                width: 90%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: htmlcssBar;
                animation-duration: 4s;
}
@keyframes htmlcssBar {
    from { width: 1%; }
    to { width: 90%; }
}
#jsBar {
                position: absolute;
                width: 70%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: jsBar;
                animation-duration: 4s;
}
@keyframes jsBar {
    from { width: 1%; }
    to { width: 70%; }
}
#adobesBar {
                position: absolute;
                width: 60%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: adobesBar;
                animation-duration: 4s;
}
@keyframes adobesBar {
    from { width: 1%; }
    to { width: 60%; }
}
#learnBar {
                position: absolute;
                width: 100%;
                height: 80%;
                top: 10%;
                border-radius: 0px;
                background-color: rgba(120, 144, 156, 1.0);
                animation: learnBar;
                animation-duration: 4s;
}
@keyframes learnBar {
    from { width: 1%; }
    to { width: 100%; }
}
.resume h3 {
    font-family: raleway;
    font-size: 3em;
    color: rgba(120, 144, 156, 1.0);
}
.resume a {
    position: absolute;
    margin-left: 0.5em;
    color: rgba(120, 144, 156, 1.0);
}
.resume a:hover {
    color: rgba(120, 144, 156, 0.8);
}
}
